/nebula
/nebula-cert
/nebula-arm
/nebula-arm6
/nebula-darwin
/nebula.exe
/oneclick-mesh-client
/oneclick-mesh-client-cert
/oneclick-mesh-client-cert.exe
/oneclick-mesh-client-arm
/oneclick-mesh-client-arm6
/oneclick-mesh-client-darwin
/oneclick-mesh-client.exe
/cert/*.crt
/cert/*.key
/coverage.out
/cpu.pprof
/build
/*.tar.gz
/.vscode
/e2e/mermaid/
